.container-page1 {
  border: 1px solid black;
}
h1 {
  color: brown;
  text-align: center;
  margin: 25px;
}
.container-p {
  width: 80vw;
  margin: auto;
}
.container-p > p {
  align-items: center;
  margin-bottom: 10px;
}
